<?php
/**
 * 数据库配置
 */
return [
    'driver'    => 'mysql',
    'host'      => '127.0.0.1',
    'database'  => '',
    'username'  => '',
    'password'  => '',
    'charset'   => 'utf8',
    'collation' => 'utf8_unicode_ci',
    'prefix'    => ''
];